<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gaibrielle.cabrera.com.tigereats">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".American" />
        <activity android:name=".Chinese" />
        <activity android:name=".Filipino" />
        <activity android:name=".Italian" />
        <activity android:name=".Japanese" />
        <activity android:name=".Korean" />
        <activity android:name=".Army" />
        <activity android:name=".Dimsum" />
        <activity android:name=".Lovelite" />
        <activity android:name=".Yellowcab" />
        <activity android:name=".Hokusai" />
        <activity android:name=".Samgyup" />
        <activity android:name=".Adobo" />
        <activity android:name=".Omelet" />
        <activity android:name=".Sinigang" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Wendys" />
        <activity android:name=".Mcdonalds" />
        <activity android:name=".Jackos" />
        <activity android:name=".WingVibe" />
        <activity android:name=".Angkong" />
        <activity android:name=".GoldenChopstick" />
        <activity android:name=".FastFoo" />
        <activity android:name=".Chowking" />
        <activity android:name=".TapaKing" />
        <activity android:name=".RicingStar" />
        <activity android:name=".Goldilocks" />
        <activity android:name=".Celys" />
        <activity android:name=".Ichiro" />
        <activity android:name=".Toribox" />
        <activity android:name=".Legit" />
        <activity android:name=".TokyoTokyo" />
        <activity android:name=".Samgyupsarap" />
        <activity android:name=".Santorini" />
        <activity android:name=".Hanayo" />
        <activity android:name=".Bonchon" />
        <activity android:name=".Shakeys" />
        <activity android:name=".Sbarro" />
        <activity android:name=".Pizzahut" />
        <activity android:name=".Dominos" />
        <activity android:name=".Giniling" />
        <activity android:name=".Tinola"></activity>
    </application>

</manifest>